<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <%- include('partials/head')%>

</head>
<body>
    

    <%- include('partials/nav')%>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam perspiciatis itaque eius iusto laudantium, dolore harum accusantium! Laboriosam, repellendus. Aperiam non nisi obcaecati ullam sunt facilis numquam. Voluptates atque veritatis cumque sint maiores unde nam inventore sapiente! Nesciunt, libero! Totam qui veniam ducimus expedita facere nesciunt iusto debitis libero aut, unde perspiciatis dicta repudiandae ipsa saepe ullam voluptates assumenda iste laboriosam id eveniet consequuntur quaerat quo. Sapiente quasi hic voluptates officia itaque placeat cumque reprehenderit maxime necessitatibus nisi, dignissimos eos asperiores, facere aliquam repudiandae assumenda voluptatem consequatur, reiciendis at fugit animi quisquam vel dolorum? Rerum sequi, quibusdam laudantium obcaecati tenetur possimus impedit et? Sed aliquam exercitationem amet perferendis voluptatem eum reprehenderit, cumque libero dolore ipsam soluta quo placeat doloremque sint, dignissimos fugiat unde eligendi animi natus magni, iste quibusdam repudiandae? Unde optio, atque quaerat fugiat nostrum est nesciunt omnis rem ex at explicabo. Voluptatibus dignissimos quas odio? Odio dicta dolor optio saepe fugiat commodi iste qui laudantium sapiente eius sed, repellat pariatur sequi tenetur ad facere quibusdam autem exercitationem repudiandae vero quisquam molestias? Commodi quam, fuga officia maiores veniam laborum amet corrupti repellendus reiciendis officiis iure magnam deserunt tenetur doloremque in libero laboriosam natus esse atque assumenda magni? Sapiente dolore modi itaque aliquid architecto vitae omnis mollitia blanditiis magni eius ab suscipit, non eaque explicabo ullam aut nam similique. Recusandae id rem autem quia placeat animi. Illo nisi earum, officiis soluta error qui quod repellat et eos delectus esse quis, laboriosam, minus pariatur debitis animi illum dolorem quibusdam enim voluptatem vel neque sint eius reprehenderit? Iste laborum soluta deleniti itaque odio. Placeat ratione tempore asperiores sint optio animi. Natus aliquam iste libero corporis sequi quibusdam minima, maiores qui dolorem placeat quos quaerat rerum. Culpa aliquam qui nemo laboriosam eius ab quis optio quasi ratione. Ut nam culpa eius molestias quam.</p>
        </section>
    </main>
    <%- include('partials/footer')%>
</body>
</html>